/* Resetando estilo padrão do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Barra de navegação */
header {
    background-color: #B70000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 0;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

header .logo h1 {
    font-size: 24px;
}

header nav ul {
    display: flex;
    gap: 20px;
}

header nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

header nav a:hover {
    color: #f1f1f1;
}

/* Links de autenticação */
header .auth-links a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-size: 14px;
}

/* Conteúdo Principal */
.main-content {
    background-color: #333;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content .image-container img {
    width: 100%;
    height: auto;
    border: 5px solid white;
}

/* Rodapé */
footer {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

footer .social-media {
    margin-bottom: 10px;
}

footer .social-icon {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

footer .social-icon:hover {
    color: #B70000;
}

footer .contact-info p {
    font-size: 18px;
}